<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.3.7.46 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="Page10_SDM">
  <Property Name="BackColor" Value="224"/>
  <Property Name="Description" Value=""/>
  <Property Name="Height" Value="768"/>
  <Property Name="Index" Value="10"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]"/>
  <Property Name="Width" Value="1024"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[Menu]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Menu"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Height" Value="768"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="1024"/>
      <Property Name="Z-Order" Value="1"/>
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="477185" Value="System Diagnostics Manager"/>
        </TextLayer>
        <TextLayer LanguageId="de">
          <Text ID="477185" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="es-HN">
          <Text ID="477185" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="zh">
          <Text ID="477185" Value=""/>
        </TextLayer>
        <TextLayer LanguageId="fr">
          <Text ID="477185" Value=""/>
        </TextLayer>
        <IndexMap>
          <Index ID="477185" Value="14"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001014" Name="HTMLView_1">
          <Property Name="AllowAutoRefresh" Value="No"/>
          <Property Name="Border" Value="Source[local].Border[Button_pressed]"/>
          <Property Name="ChangeURLDatapoint" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="CurrentTitleDatapoint" Value="None"/>
          <Property Name="CurrentURLDatapoint" Value="None"/>
          <Property Name="DefaultURLs" Value="Source[local].TextGroup[TXTGRP_URL]"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[BVS_10_0]"/>
          <Property Name="HTMLStream" Value="None"/>
          <Property Name="Height" Value="561"/>
          <Property Name="Left" Value="0"/>
          <Property Name="RenderEngine" Value="Automatic"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HTMLView]"/>
          <Property Name="Top" Value="24"/>
          <Property Name="Width" Value="1024"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_8">
          <Property Name="Border" Value="Source[local].Border[FrameHeaderBlue]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[BVS_10_B]"/>
          <Property Name="Height" Value="26"/>
          <Property Name="Left" Value="0"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FrameHeaderBlue]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="14"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="0"/>
          <Property Name="Width" Value="1024"/>
        </Control>
        <Control ClassId="0x0000100A" Name="DateTime_2">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="Border" Value="Source[local].Border[Button_Trans_unpress]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Font" Value="Source[local].Font[BVS_8_B]"/>
          <Property Name="ForeColor" Value="16"/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="833"/>
          <Property Name="SimulationValue" Value="11-15-2012 04:30:03 PM"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[DateTime]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[DateTimeFormats]"/>
          <Property Name="TextIndex" Value="5"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="2"/>
          <Property Name="ValueDatapoint" Value="None"/>
          <Property Name="Width" Value="179"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
    <Layer Name="Buttons">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Height" Value="768"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="1024"/>
      <Property Name="Z-Order" Value="2"/>
      <TextGroup>
        <TextLayer LanguageId="en"/>
        <TextLayer LanguageId="de"/>
        <TextLayer LanguageId="es-HN"/>
        <TextLayer LanguageId="zh"/>
        <TextLayer LanguageId="fr"/>
        <IndexMap/>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="Text_25">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BackColor" Value="8"/>
          <Property Name="Border" Value="Source[local].Border[Button_Trans_press1]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="ForeColor" Value="14"/>
          <Property Name="Height" Value="47"/>
          <Property Name="HighlightingBorder" Value="Source[local].Border[Bump]"/>
          <Property Name="Left" Value="820"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.visuals.vRecipe]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextDatapoint" Value="None"/>
          <Property Name="TextSource" Value="SingleString"/>
          <Property Name="Top" Value="669"/>
          <Property Name="Width" Value="203"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_24">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BackColor" Value="8"/>
          <Property Name="Border" Value="Source[local].Border[Button_Trans_press1]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="ForeColor" Value="14"/>
          <Property Name="Height" Value="47"/>
          <Property Name="HighlightingBorder" Value="Source[local].Border[Bump]"/>
          <Property Name="Left" Value="889"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextDatapoint" Value="None"/>
          <Property Name="TextSource" Value="SingleString"/>
          <Property Name="Top" Value="669"/>
          <Property Name="Width" Value="134"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_11">
          <Property Name="BackColor" Value="7"/>
          <Property Name="Bitmap" Value="Source[local].Bitmap[Calibrate]"/>
          <Property Name="BitmapAlignmentHorizontal" Value="Center"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="Border" Value="Source[local].Border[Button_gray_unpres]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Font" Value="Source[local].Font[BVS_10_B_0]"/>
          <Property Name="ForeColor" Value="80"/>
          <Property Name="Height" Value="37"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="957"/>
          <Property Name="PressedBackColor" Value="7"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedBorder" Value="Source[local].Border[Button_gray_pres]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Button]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="675"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[btnScreenCalib]"/>
          <Property Name="Width" Value="61"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_12">
          <Property Name="BackColor" Value="7"/>
          <Property Name="Bitmap" Value="Source[local].Bitmap[Clean]"/>
          <Property Name="BitmapAlignmentHorizontal" Value="Center"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="Border" Value="Source[local].Border[Button_gray_unpres]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Font" Value="Source[local].Font[BVS_10_B]"/>
          <Property Name="ForeColor" Value="80"/>
          <Property Name="Height" Value="37"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="894"/>
          <Property Name="PressedBackColor" Value="7"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedBorder" Value="Source[local].Border[Button_gray_pres]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Button]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="675"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[btnCleanScreen]"/>
          <Property Name="Width" Value="61"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_13">
          <Property Name="BackColor" Value="7"/>
          <Property Name="Bitmap" Value="Source[local].Bitmap[Button]"/>
          <Property Name="BitmapAlignmentHorizontal" Value="Center"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="Border" Value="Source[local].Border[Button_gray_unpres]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Font" Value="Source[local].Font[BVS_10_B]"/>
          <Property Name="ForeColor" Value="80"/>
          <Property Name="Height" Value="37"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="826"/>
          <Property Name="PressedBackColor" Value="7"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedBorder" Value="Source[local].Border[Button_gray_pres]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.visuals.vRecipe]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Button]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="675"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[PageRecipeSimBtn]"/>
          <Property Name="Width" Value="61"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
    <Layer Name="BusyLayer">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Height" Value="768"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.visuals.vBusyLayer]"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="1024"/>
      <Property Name="Z-Order" Value="3"/>
      <TextGroup>
        <TextLayer LanguageId="en"/>
        <TextLayer LanguageId="de"/>
        <TextLayer LanguageId="es-HN"/>
        <TextLayer LanguageId="zh"/>
        <TextLayer LanguageId="fr"/>
        <IndexMap/>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001020" Name="Busy">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="200"/>
          <Property Name="Left" Value="414"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="100"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="NeedleBitmap" Value="Source[local].Bitmap[BusyNeedle]"/>
          <Property Name="NeedleBitmapCenterOffset" Value="90"/>
          <Property Name="NeedleColor" Value="248"/>
          <Property Name="NeedleLength" Value="40"/>
          <Property Name="NeedleWidth" Value="3"/>
          <Property Name="RotationAngle" Value="360"/>
          <Property Name="Scale" Value="False"/>
          <Property Name="SimulationValue" Value="74"/>
          <Property Name="StartAngle" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.visuals.vBusyLayer]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[StyleClass_1]"/>
          <Property Name="Top" Value="209"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.visuals.pBusyValue]"/>
          <Property Name="Width" Value="200"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[HTMLView_1]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[HTMLView_1]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[HTMLView_1]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[HTMLView_1]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[HTMLView_1]"/>
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[embedded].Layer[Default].Control[HTMLView_1]"/>
  </TabSequence>
</Page>